.categories {
  display: flex;
  flex-direction: column;
  padding: 5px 0 40px 0;
  &--lg{
    width: calc(100vw - 80px);
  }
  &--xs{
    width: calc(70vw - 180px);
    @media (max-width: 1024px) {
      width: calc(100vw - 80px);
    }
  }

  .slick-next:before{
    color:  #b5aea5 ;
    opacity: 1;
    padding: 40px;

  }
  .slick-prev{
    display: none !important;

  }
  .box {
    padding: 15px;
    cursor: pointer;
    width: 100%;
    height: auto;

    &__card {
      display: flex !important;
      flex-direction: column;
      align-items: center;
      height: auto;
      width: 70px;
      border-radius: 50px;
      background-color: #fefefe;
      -webkit-box-shadow: 1px 9px 12px 4px #efefef;
      box-shadow: 1px 9px 12px 4px #efefef;
      padding: 10px 0px 15px 0px;
      cursor: pointer;
      .illustration {
        background-color: white;
        border-radius: 50%;
        padding: 7px;
        border: 1px solid #b5aea5;
        position: relative;
        img {
          border-radius: 20px;
          width: 25px;
          height: 25px;
        }
      }

      &:hover {
        background-color: #ffd543;
        .illustration {
          border: 1px solid transparent;
        }
      }

      .name {
        color: $black-color;
        font-weight: 500;
        margin: 10px 0 20px 0;
        font-size: 90%;
      }
    }
  }
  .slick-slide {
    width: auto !important;
  }

  .active {
    background-color: #ffd543;
    .illustration {
      border: 1px solid transparent;
    }
  }

 
  .slick-slider {
    padding-right: 100px !important;
    @media (max-width: 425px) {
      padding-right: 0px !important;
    }
  }
 
}
