.head {
  height: 90px;
  display: flex;
  padding: 1vw 30px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 60px;

  &__auth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;

    a{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 10px;
      background-color: rgba(163, 48, 48, 0) !important;
      color: #6d6d6d;
      border: 1px solid #6d6d6d7c;
      border-radius: 5px;
      font-weight: 400;
      font-size: 14px;
      margin-left:20px ;
      outline: none;
      text-decoration: none;
    }

  }

  img{
    cursor: pointer;
    width: 13px;
    margin: 0 20px;
  }

  .dot {
    background: $yellow-color;
    border-radius: 10px;
    padding: 10px;
    color: $black-color;
    font-weight: 500;
    font-size: 13px;
  }
}
